@font-face {
    font-family: 'MajorMonoDisplay';
    src: url('assets/fonts/MajorMonoDisplay-Regular.ttf');
}

html, body {
    font-family: MajorMonoDisplay;
}

button {
    font-family: 'MajorMonoDisplay';
    font-size: 16px;
    padding: 4px 12px;
}

input {
    font-size: 14px;
    padding: 4px;
    margin: 1px 0;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.sound-switcher {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.75;
    filter: invert(1);
    transition: .2s all;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background: none;
    text-decoration: line-through;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./assets/sound-off.png');
}
.sound-switcher:hover {
    opacity: 1;
}
.sound-switcher:focus {
    outline: none;
}
.sound-switcher.on {
    text-decoration: none;
    background-image: url('./assets/sound-on.png');
}

.popup {
	position: absolute;
    background: wheat;
    padding: 50px;
    text-align: center;
    width: 200px;
    left: calc(50vw - 150px);
    top: calc(50vh - 200px);
}

.popup.js-hide {
	display: none;
}

.popup button {
	cursor: pointer;
}

.highscores {
    padding: 0;
    list-style: none;
}

.highscore {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #000;
}

.highscore-name,
.highscore-score {
    font-weight: bold;
}

.record-score {
    margin: 20px 0;
    padding: 5px;
    border: 1px dashed black;
}

.record-score button {
    margin-top: 10px;
}

.powered-by {
    position: fixed;
    bottom: 0;
    opacity: 0.5;
    padding: 10px;
}

.powered-by a {
    text-decoration: none;
    font-size: 17px;
    font-family: cursive;
    font-weight: bold;
}

.powered-by a:hover {
    color: #650a5a;
}